.contacts{
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.mainTextContacts{
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 34px;
}

.socialMedia{
    display: flex;
    gap: 100px;
}

.socialMedia > a > img{
    transition: transform 0.5s ease; 
}

.socialMedia img:hover{
    transform: scale(1.1); 
}