.contacts{
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
}

.mainTextContacts{
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 34px;
}