.costSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}
.costSection > h2{
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 34px;
}