.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #696349;
    height: 150px;
    width: 100%;
}

.nav__menu__footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 26px;
    width: 800px;
}

.nav__menu__footer a{
    font-size: 24px;
    color: #FFF1E8;
}