.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
}

.portfolio__main__container{
    display: flex;
}

.portfolio > h2{
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 34px;
}

.left__side__portfolio > img{
    width: 550px;
    height: auto;
}

.left__side__portfolio{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 700px;
}

.right__side__portfolio{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 700px;
}

.left__portfolio__container{
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 12px; 
    position: relative;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3); 
    margin-bottom: 200px;
}

.left__portfolio__container img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    display: block; 
    transition: transform 0.5s ease; 
}

.right__portfolio__container img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
    display: block; 
    transition: transform 0.5s ease; 
}

.right__portfolio__container{
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 12px; 
    position: relative;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3); 
    margin-bottom: 200px;
}

.small__picture{
    
}
