.aboutMe{
    position: relative;
    width: 100%;
    height: 735px;
}

.aboutMe > img{
    width: 100%;
    z-index: -1;
}

.aboutMe__mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 59px;
}

.aboutMe__description{
    background-color: rgba(217, 217, 217, 0.202);
    height: 800px;
    width: 1000px;
    margin-top: 39px;
}

.aboutMe__mainContainer > h1{
    font-weight: bold;
    font-size: 34px;
}