.aboutMe{
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}

.aboutMe > img{
    width: 100%;
    z-index: -1;
}

.aboutMe__mainContainer{
    display: flex;
    align-items:center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.aboutMe__description{
    background-color: rgba(217, 217, 217, 0.202);
    height: 700px;
    width: 1200px;
    margin-top: 80px;
}

.aboutMe__description > p{
    font-size: 18px;
    padding: 90px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 28px;
}

.aboutMe__mainContainer > h1{
    font-weight: bold;
    font-size: 34px;
}