.header{
    position: relative;
    height: 854px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 37px;
    margin-bottom: 49px;
}

.nav__menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 26px;
    width: 583px;
}

.nav__menu a{
    color: #FFF1E8;
}

.photoLady {
    width: 680px;
    height: 680px;
    overflow: hidden;
    border-radius: 12px; 
    position: relative;
    margin: 0 auto;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3); 
}

.photoLady img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: bottom center; 
    display: block; 
    transition: transform 0.5s ease; 
}


.photoLady:hover > img:first-child {
    transform: scale(1.03); 
}

.plants_header_right{
    right: 0;
    bottom: -150px;
}

.right_1_header{
    bottom: -400px;
}

.left_1_header{
    bottom: -190px;
    z-index: 10;
}

.right_2_header{
    bottom: -200px;
    rotate: -10deg;
}
