.header{
    position: relative;
    height: 854px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 37px;
    margin-bottom: 49px;
}

.nav__menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 26px;
    width: 583px;
}

.nav__menu a{
    color: #FFF1E8;
}

.photoLady {
    width: 680px;
    height: 680px;
    overflow: hidden;
    border-radius: 12px; /* Скругленные углы */
    position: relative;
    margin: 0 auto; /* Центрирование */
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.3); /* Тень для объема */
}

/* Стили для изображения внутри */
.photoLady img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Обрезает без искажений */
    object-position: bottom center; /* Центрирует изображение */
    display: block; /* Убирает лишние отступы */
    transition: transform 0.5s ease; /* Плавное увеличение при наведении */
}

/* Эффект при наведении */
.photoLady:hover img {
    transform: scale(1.03); /* Легкое увеличение */
}