html{
    scroll-behavior: smooth;
}

body{
    font-family: "Manrope", sans-serif;
    background-color: #A49E84;
    color: #FFF1E8;
    font-size: 20px;
}

img{
    position: absolute;
}

.backLine__plant{
    z-index: -10;
}
